.architecture {   
    margin: 0 4rem;
    display: flex;
    flex-direction: column;
    font-family: 'avenir', sans-serif;
    box-sizing: border-box;

    .img-mobile {
        display: none;
    }

    #section1 {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;      
        margin-bottom: 15rem;

        .plans {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;

            .plan-container {
                width: 100%;
                img {
                    display: block;
                    margin: 0 auto;
                    width: 90%;
                    height: auto;
                    object-fit: cover;
                    cursor: pointer;
                    align-self: flex-end;
                }
                p {
                    font-style: italic;
                    color: #8f8888;
                    margin-left: 4rem;
                }
            }
            
            
        }

        

        .text-container {
            width: 280px;
            text-align: start;
            border-left: 4px solid #8f8888;
            padding-left: 25px;
            box-sizing: border-box;
            margin: 0 auto;

            h1 {
                font-weight: bold;
                font-size: 28px;
                margin-bottom: 15px;
            }

            p {
                font-size: 14px;
                margin-right: 35px;
                line-height: 19px;

                .label {
                    font-weight: bold;
                }
            }

            p:last-of-type {
                margin-top: 20px;
            }
        }
    }


    #section2 {
        display: flex;
        flex-direction: column;
        gap: 15rem;
        margin-bottom: 8rem;


        .pictures {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            row-gap: 5rem;
            justify-content: center;
            justify-items: center;

            img {
                width: 400px;
                height: auto;
                object-fit: cover;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    .architecture {
        #section2 {
            .pictures {
                img {
                    width: 360px;
                }
            }
        }
    }
}

@media screen and (max-width: 1380px) {
    .architecture {
        #section1 {
            flex-direction: column;
            .text-container {
                width: 80%;
                margin: 0 auto;
                border-left: none;
                padding-left: 0;
            }

            .plans {
                order: 2;

                .plan-container {
                    
                    img {
                        width: 90%;
                    }
                }
                
            }
        }

        #section2 {
            p {
                margin-left: 100px;
            }

            .pictures {
                grid-template-columns: repeat(2, 1fr);

                img {
                    width: 80%;
                }
            }
        }
    }
}

@media screen and (max-width: 1177px) {
    .architecture {
        #section1 {
            .plans {
                width: 100%;
                flex-direction: column;
                
                .plan-container {
                    width: 100%;
                    img {
                        display: block;
                        width: 90%;
                        margin: 0 auto;
                        
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .architecture {
        #section2 {
            .pictures {
                grid-template-columns: repeat(1, 1fr);
                img {
                    width: 75%;
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .architecture {
        .img-mobile {
            display: flex;
            width: 100%;
            margin-bottom: 6rem;
            img {
                width: 85%;
                height: auto;
                margin: 0 auto;
            }
        }
    }
}

@media screen and (max-width: 870px) {
    .architecture {
        margin: 0 0.1rem;
        #section2 {
            .pictures {
                img {
                    width: 70%;
                }
            }
        }
    }
}

@media screen and (max-width: 758px) {
    .architecture {
        #section1 {
            .plans {
                img {
                    width: 70%;
                    object-fit: cover;
                }
            }

            .text-container {
                width: 80%;
            }
        }

        #section2 {
            p {
                margin-left: 50px;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .architecture {
        #section1 {
            .plans {
                img {
                    width: 100%;
                }
            }
        }

        #section2 {
            .pictures {
                img {
                    width: 85%;
                }
            }
        }
    }
}