.design {
    display: flex;
    gap: 20px;
    font-family: 'avenir', sans-serif;
    margin: 0 7%;

    section {
        display: flex;
        flex-direction: column;

        .plans {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 50px;
            height: auto; // Deja que la altura se ajuste automáticamente
            margin-bottom: 150px;

            img {
                cursor: pointer;
            }
        }

        .img-pictures {
            display: flex;
            flex-direction: column;

            img {
                width: 100%;
                cursor: pointer;
                margin-bottom: 100px;
                object-fit: contain; 
            }
        }
    }

    .text-container {
        max-width: 280px;
        height: 100%;
        text-align: left;
        border-left: 4px solid #8f8888;
        padding-left: 25px;

        h1 {
            font-weight: bold;
            font-size: 28px;
            margin-bottom: 15px;
        }

        p {
            font-size: 14px;
            line-height: 16px;

            .label {
                font-weight: bold;
            }
        }

        p:last-of-type {
            font-size: 16px;
            margin-top: 20px;
        }
    }
}



/*@media screen and (max-width: 1200px) {
  .design {
      #section1 {
          .plans {
              flex-direction: column;

              img {
                  width: 400px;
              }
          }

          .text-container {
              max-width: 250px;
          }
      }

      #section2 {
          p {
              margin-left: 100px;
          }

          .pictures {
              grid-template-columns: repeat(2, 1fr);
          }
      }
  }
}

@media screen and (max-width: 758px) {
  .design {
      #section1 {
          .plans {
              img {
                  width: 300px;
              }
          }

          .text-container {
              max-width: 200px;
          }
      }

      #section2 {
          p {
              margin-left: 50px;
          }

          .pictures {
              grid-template-columns: repeat(1, 1fr);
          }
      }
  }
}*/