.design {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-family: 'avenir', sans-serif;
    margin: 0 6%;

    .img-mobile {
        display: none;
    }

    section {
        display: flex;
        flex-direction: column;

        #section1 {
            display: flex;
            .plans {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                margin-bottom: 150px;
    
                img {
                    cursor: pointer;
                }

                .img-texture-design {
                    cursor: auto;
                }
            }

            div {
                .text-container {
                    width: 312px;
                    height: auto;
                    text-align: justify;
                    border-left: 4px solid #8f8888;
                    padding-left: 25px;
                    box-sizing: border-box;
                    margin-bottom: 3rem !important;
            
                    h1 {
                        font-weight: bold;
                        font-size: 28px;
                        margin-bottom: 15px;
                        margin-left: 15px;
                        top: 0;
            
                    }
            
                    p {
                        font-size: 14px;
                        line-height: 21px;
                        margin-left: 15px;
                        color: #444;
                        
            
                        .label {
                            font-weight: bold;
                        }
                    }
            
                    p:last-of-type {
                        font-size: 16px;
                        margin-top: 20px;
                    }
                }
            }
            
        }

        

        .img-pictures {
            display: flex;
            width: 85%;
            flex-direction: column;
            align-items: center;

            img {
                width: 70%;
                height: auto;
                cursor: pointer;
                margin-bottom: 100px;
                object-fit: cover; 
            }
        }
    }

    
}


@media screen and (max-width: 1890px) {
    .design {
        display: flex;
        flex-direction: column;
            
        .img-mobile {
            display: flex;
            img {
                display: block;
                margin: 0 auto;
                width: 90%;
                margin-bottom: 20px;
            }
        }
        
        section {
            #section1 {
                flex-direction: column;
                .plans {
                    margin: 0;
                    margin-bottom: 15rem;
                    order: 2; 

                    :nth-child(4) {
                        width: 10%;
                        height: 300px;  
                        margin-top: 4rem;
                        object-fit: contain;     
                    } 
                }
                div {
                    justify-content: flex-start;
                    margin-bottom: 4rem;

                    .text-container {
                        width: 90%;
                        margin: 0  auto;
                        border-left: none;
                        padding-left: 0;
                            
                            
    
                        h1 {
                            padding-top: 1rem;
                            margin-left: 0;
                        }
                        p {
                            margin-left: 0;
                        } 
                    }
                }                   
            }
        }
        .img-pictures {
            width: 100% !important;
        }
    }
}


@media screen and (max-width: 1035px) {
    .design {
        margin: 0 1rem !important;
        section {
            #section1 {
                .plans {
                    justify-content: center !important;
                    row-gap: 8rem !important;
                    margin-bottom: 9rem !important;
                    column-gap: 3rem !important;

                    > :nth-child(4) {
                        width: 15%;  
                        margin: 0;      
                    }
                }

                .plans img:nth-child(3) {
                    order: 4;
                }
                
                /* A la cuarta imagen (clase .texture-img) le asignas el orden 3 */
                .plans img:nth-child(4) {
                    order: 3;
                }
            }
        }
    }
}

@media screen and (max-width: 1401px) {
    .design {
        section {
            #section1 {
                div {
                    .text-container {
                        width: 80%;
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 860px) {
    .design {
        section {
            #section1 {
                .plans {
                    column-gap: 5rem !important;
                    row-gap: 4rem !important;

                    > :nth-child(1) {
                        width: 95%;       
                    }
                    > :nth-child(3) {
                        width: 95%;
                        margin-bottom: 2rem;         
                    }
                }
            }

            .img-pictures {
                img {
                    width: 90%;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .design {
        .img-mobile {
            img {
                width: 100%;
            }
        }

        section {
            #section1 {
                .plans {
                    > :nth-child(1) {
                        width: 100%;       
                    }
                    > :nth-child(3) {
                        width: 100%;    
                          
                    }
                }
                div {
                    .text-container {
                        width: 98% !important;

                        p {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .design {
        section {
            #section1 {
                .plans {
                    margin-bottom: 3rem;
                }
            }

            .img-pictures {
                img {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .design {
        section {
            #section1 {
                .plans {
                    row-gap: 3rem !important;
                    margin-bottom: 4rem !important;
                }
            }
        }
    }
}