/* Estilos generales */
#sareeslight {
    width: 100%;
    font-family: 'avenir', sans-serif;

    /* Estilos para row1-sareeslight */
    .row1-sareeslight {
        display: flex;
        width: 100%;
        height: 500px;
        justify-content: center;

        .first-plan-sareeslight {
            margin-left: 480px;
            margin-right: 200px;

            img {
                width: 200px;
                height: auto;
                object-fit: cover;
                cursor: pointer;
            }
        }

        .second-plan-sareeslight {
            margin-right: auto;

            img {
                width: 305px;
                height: auto;
                object-fit: cover;
                cursor: pointer;
            }
        }

        .text-container-sareeslight {
            width: 225px;
            height: 360px;
            text-align: left;
            margin-top: 40px;
            margin-right: 110px;
            border-left: 4px solid #8f8888;
            padding-left: 15px;
            margin-left: auto;

            h2 {
                font-weight: bold;
                font-size: 30px;
                margin-bottom: 15px;
                margin-top: 5px;
            }
        }
    }

    /* Estilos para row2-sareeslight */
    .row2-sareeslight {
        display: flex;
        width: 1350px;

        .third-plan-sareeslight {
            margin-left: 440px;

            img {
                width: 210px;
                height: auto;
                object-fit: contain;
                margin-left: 40px;
                cursor: pointer;
            }
        }

        .fourth-plan-sareeslight {
            margin-left: 100px;

            img {
                width: 200px;
                height: auto;
                object-fit: cover;
                margin-left: 150px;
                cursor: pointer;
            }
        }
    }

    /* Estilos para row3-sareeslight */
    .row3-sareeslight {
        display: flex;
        justify-content: center;
        width: 1500px;
        margin-top: 100px;
        margin-left: 80px;

        img {
            width: 400px;
            height: auto;
            cursor: pointer;
        }
    }

    /* Estilos para row4-sareeslight */
    .row4-sareeslight {
        display: flex;
        justify-content: center;
        width: 1500px;
        margin-top: 100px;
        margin-left: 80px;

        img {
            width: 400px;
            height: auto;
            cursor: pointer;
        }
    }

    /* Estilos para row5-sareeslight */
    .row5-sareeslight {
        display: flex;
        justify-content: center;
        width: 90%;
        margin-top: 100px;
        margin-bottom: 100px;

        img {
            width: 500px;
            height: auto;
            margin: auto;
            object-fit: contain;
            cursor: pointer;
        }
    }
}

/* Estilos para los modales */

/* Modal principal */
.sareelight-modal {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    display: none; /* Oculto por defecto */
    justify-content: center;
    align-items: center;

    /* Mostrar el modal cuando no tiene la clase 'hidden' */
    &.active {
        display: flex;
    }

    .sareelight-modal-content {
        display: block;
        margin: auto;
        max-width: 80vw;
        max-height: 80vh;
        object-fit: contain;
        background-color: white;
        padding: 10px;
        border-radius: 5px;
    }

    .small-image {
        max-width: 50vw;
        max-height: 50vh;
    }

    .sareelight-close {
        position: absolute;
        top: 20px;
        right: 35px;
        color: #fff;
        font-size: 40px;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            color: #bbb;
        }
    }

    .sareelight-prev,
    .sareelight-next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        padding: 16px;
        color: #fff;
        font-weight: bold;
        font-size: 40px;
        user-select: none;
        transform: translateY(-50%);

        &:hover {
            color: #bbb;
        }
    }

    .sareelight-prev {
        left: 0;
    }

    .sareelight-next {
        right: 0;
    }
}

/* Modal para row3 */
#row3-sareeslight-modal {
    @extend .sareelight-modal;

    /* Sobrescribir o añadir estilos específicos si es necesario */

    .row3-sareelight-modal-content {
        @extend .sareelight-modal-content;
    }

    .row3-sareelight-close {
        position: absolute;
        top: 20px;
        right: 35px;
        color: #fff;
        font-size: 40px;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            color: #bbb;
        }
    }

    .row3-sareelight-prev,
    .row3-sareelight-next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        padding: 16px;
        color: #fff;
        font-weight: bold;
        font-size: 40px;
        user-select: none;
        transform: translateY(-50%);

        &:hover {
            color: #bbb;
        }
    }

    .row3-sareelight-prev {
        left: 20px; /* Ajusta según sea necesario */
    }

    .row3-sareelight-next {
        right: 20px; /* Ajusta según sea necesario */
    }
}

/* Modal para row4 */
#row4-sareeslight-modal {
    @extend .sareelight-modal;

    /* Sobrescribir o añadir estilos específicos si es necesario */

    .row4-sareelight-modal-content {
        @extend .sareelight-modal-content;
    }

    .row4-sareelight-close {
        position: absolute;
        top: 20px;
        right: 35px;
        color: #fff;
        font-size: 40px;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            color: #bbb;
        }
    }

    .row4-sareelight-prev,
    .row4-sareelight-next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        padding: 16px;
        color: #fff;
        font-weight: bold;
        font-size: 40px;
        user-select: none;
        transform: translateY(-50%);

        &:hover {
            color: #bbb;
        }
    }

    .row4-sareelight-prev {
        left: 20px; /* Ajusta según sea necesario */
    }

    .row4-sareelight-next {
        right: 20px; /* Ajusta según sea necesario */
    }
}

/* Modal para row5 */
#row5-sareeslight-modal {
    @extend .sareelight-modal;

    .row5-sareelight-modal-content {
        @extend .sareelight-modal-content;
        max-width: 95vw;
        max-height: 95vh;
    }

    .row5-sareelight-close {
        @extend .sareelight-close;
    }
}
