{% extends "layouts/base.html.twig" %}

{% block title %}Page Design{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ importmap('design') }}
    {{ importmap('longtext') }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/components/_longtext.scss') }}">
{% endblock %}



{% block body %}

<div class="design">
{% block imgmobile %}{% endblock %}
    <section>
        <div id="section1">
            <div class="plans" data-modal="pictures"> 
                {% block plans %}{% endblock %}
            </div>

            <div>
                <div class="text-container">
                    <h1>{% block project_title %}{% endblock %}</h1>
                    <p class="text"> 
                        {% block project_description %}{% endblock %}
                    </p>
                    <button class="toggle-btn">Lire plus</button>
                </div>
            </div>
        </div>
        
        <div class="img-pictures" data-modal="pictures">
            {% block pictures %}{% endblock %}
        </div>

        {% block more %}{% endblock %}
      
    </section>
</div>

{% endblock %}
