{% extends "layouts/base.html.twig" %}

{% block title %}Page Design{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ importmap('design') }}
{% endblock %}

{% block body %}
<div class="design">
    <section id="section1">
        <div class="plans" data-modal="pictures"> 
            {% block plans %}{% endblock %}
        </div>

        <div class="text-container">
            <h2>{% block project_title %}{% endblock %}</h2>
            <p> 
                {% block project_description %}{% endblock %}
            </p>
        </div>
    </section>

    <section id="section2">
        <div class="pictures" data-modal="pictures">
            {% block pictures %}{% endblock %}
        </div>

        {% block more %}{% endblock %}
    </section>

</div>

{% endblock %}
