<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Accueil{% endblock %} ~ JS</title>
        <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap" rel="stylesheet">

        {% block javascripts %}
            {# Cargar el importmap y los módulos definidos en importmap.php #}
            {{ importmap('app') }}
        {% endblock %}

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            {% include 'layouts/partials/_header.html.twig' %}
        {% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}
            {% include 'layouts/partials/_footer.html.twig' %}
        {% endblock %}

        {% include "components/modal.html.twig" %}
    </body>
</html>

