.design section {
   
    .plans {
        display: flex;
        flex-direction: column;
        .mesures-sareelight {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        .isometric-sareelight {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        img {
            width: 500px;
            height: 500px;
        }
    }
}