{% extends "layouts/base.html.twig" %}

{% block title %}Projet Gentilly{% endblock %}

{% block body %}
    <section id="gentilly">
        <div class="plans-gentilly">
            <img src="{{ asset('upload/gentilly/svg/plansgentilly1.svg') }}" alt="Plan del proyecto Gentilly 1" data-large-src="{{ asset('upload/gentilly/svg/plansgentilly1.svg') }}">
            <img src="{{ asset('upload/gentilly/svg/plansgentilly2.svg') }}" alt="Plan del proyecto Gentilly 2" data-large-src="{{ asset('upload/gentilly/svg/plansgentilly2.svg') }}">
        </div>

        <div id="plans-modal-gentilly" class="plans-modal-gentilly">
            <span class="close-gentilly" aria-label="Cerrar">&times;</span>
            <img class="plans-content-gentilly" id="plans-image-gentilly" src="" alt="Imagen ampliada del plan">
            <a class="prev-gentilly" aria-label="Anterior">&#10094;</a>
            <a class="next-gentilly" aria-label="Siguiente">&#10095;</a>
        </div>

        <div class="text-container-gentilly">
            <h1>GENTILLY</h1>
            <P><span class="label">Programme :</span> Rénovation d’un appartement</P>
            <P><span class="label">Localisation :</span> Paris XVII</P>
            <P><span class="label">Surface :</span> 60 m²</P>
            <P><span class="label">Budget :</span> NC</P>
            <P><span class="label">Statut :</span> Livré en janvier 2023</P>
            <P> Lorem ipsum dolor sit amet, magna aliquam erat volutpat. Ut volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation magna aliquam erat volutpat. Ut volutpat. magna aliquam erat volutpat. Ut volutpat. magna aliquam erat volutpat. Ut volutpat.magna aliquam erat volutpat. Ut volutpat. magna aliquam erat volutpat. Ut volutpat. ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat magna aliquam erat volutpat. Ut volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conseqa.</P>
        </div>
    </section>
{% endblock %}
