{% extends "layouts/base.html.twig" %}

{% block title %}Page Contact{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ importmap('contact') }}
{% endblock %}

{% block body %}
<div id="page-contact">
    <div class="contact-container">
        <div class="contact-description">
            <img src="{{ asset('upload/contact/img-contact1.jpg')|imagine_filter('image_contact') }}" alt="">
            <div class="contact-text">
                <p>- Architecte diplômée d’état - ENSA Paris Malaquais (2019)</p>
                <p>- Titulaire d’un Mastère Spécialisé en Design & Création (2019)</p>
                <p>Juliette Saez se consacre à des projets de rénovation et d’aménagement intérieur. Son approche personnalisée vous accompagne à chaque étape, des premières esquisses à la livraison du chantier, en plaçant vos envies au cœur du processus créatif. Sa double compétence d’architecte et de designer l’a conduite à développer un goût particulier pour la création de mobilier sur mesure, pensé pour s’intégrer harmonieusement dans chaque espace. Réalisées par des artisans passionnés, ces pièces uniques allient fonctionnalité, esthétisme et savoir-faire, tout en ajoutant une touche d’exclusivité aux projets architecturaux. Parallèlement, Juliette Saez cultive une pratique artistique d’illustratrice, où elle donne vie à son univers poétique à travers ses Zoziox – des oiseaux personnalisés reflétant un subtil mélange d’élégance et de fantaisie. Ces créations originales enrichissent son travail architectural d’une note artistique singulière. Consciente des exigences liées à chaque projet de travaux, l’agence de Juliette Saez garantit une gestion rigoureuse des délais, du budget et des objectifs, afin de transformer chaque réalisation en une expérience sereine et réussie. Juliette Saez s’attache à révéler tout le potentiel des lieux existants, en créant des espaces uniques où chaque détail fait la différence.</p>           
            </div>
        </div>

        <div class="contact-form">
            <h1>CONTACTEZ-MOI</h1>
            <form action="#" method="post">
                <div class="form-row">
                    <input type="text" placeholder="Prénom" name="prenom" required>
                    <input type="text" placeholder="Nom" name="nom" required>
                </div>

                <div class="form-row">
                    <input type="email" placeholder="Adresse e-mail" name="email" required>
                    <input type="text" placeholder="Téléphone" name="phone" required>
                </div>

                <textarea placeholder="Message" name="message" rows="10" required></textarea>
                <button type="submit">Envoyez</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}
