#afppcd {
    width: 100%;
    font-family: 'avenir', sans-serif;
    

    .row1 {
      display: flex;
      width: 100%;
      height: 550px;
      justify-content: center;
  
      .first-plan {
        margin-left: 350px;
        margin-right: 150px;
        img {
            width: 600px;
            height: auto;
            object-fit: cover;
            cursor: pointer;
        }
  
      }

      .second-plan {
        margin-right: auto;

        img {
            width: 147px;
            height: auto;
            object-fit: cover;
            cursor: pointer;
        }
      }
  
      .text-container {
        width: 225px;
        height: 360px;
        text-align: left;
        margin-top: 40px;
        margin-right: 110px;
        border-left: 4px solid #8f8888;
        padding-left: 15px;
        margin-left: auto;

        h2 {
          font-weight: bold;
          font-size: 30px;
          margin-bottom: 15px;
          margin-top: 5px;
        }
      }
  
    }

    .row2 {
        display: flex;
        width: 1350px;


        .third-plan {
          margin-left: 310px;
            img {
                width: 600px;
                height: auto;
                object-fit: contain;
                margin-left: 40px;
                cursor: pointer;
            }
        }

        .photo-texture {
            margin-top: 25px;
            margin-left: 20px;
            img{
                width: 150px;
                height: auto;
                object-fit: cover;
                margin-left: 150px;
            }
        }
    }  
}

      /* Estilos para el modal específico de afppcd */
      .afppcd-modal {
        position: fixed;
        z-index: 9999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.9);
        display: flex;
        justify-content: center;
        align-items: center;
        
        /* Esta clase ocultará el modal */
        &.hidden {
          display: none;
        }
      }
  
      .afppcd-modal-content {
        display: block;
        margin: auto;
        max-width: 940px;
        max-height: 790px;
        width: auto;
        height: auto;
        object-fit: contain;
        background-color: white;
        padding: 30px;
        
      }
  
      .afppcd-close {
        position: absolute;
        top: 20px;
        right: 35px;
        color: #fff;
        font-size: 40px;
        font-weight: bold;
        cursor: pointer;
      }
  
      .afppcd-close:hover {
        color: #bbb;
      }
  
      .afppcd-prev,
      .afppcd-next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        padding: 16px;
        color: #fff;
        font-weight: bold;
        font-size: 40px;
        user-select: none;
      }
  
      .afppcd-prev:hover,
      .afppcd-next:hover {
        color: #bbb;
      }
  
      .afppcd-prev {
        left: 0;
      }
  
      .afppcd-next {
        right: 0;
      }
  
      #photos_bureauII {
          width: 1350px;
          .photos {
            display: flex;
            flex-direction: column;
            width: 100%; 
            margin-bottom: 150px;
            margin-top: 150px;
        
            img {
                width: 980px;
                height: 600px;
                object-fit: contain;              
                cursor: pointer;
                margin-bottom: 70px;
                margin-left: 300px;
            }
        }

      }

      /* Estilos para el modal específico de photos_bureauII */
.photos-bureauII-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
}

.photos-bureauII-modal-content {
  display: block;
  margin: auto;
  margin-top: 100px;
  max-width: 95%;
  max-height: 80%;
  width: auto;
  height: auto;
  object-fit: contain;
}

.photos-bureauII-close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.photos-bureauII-close:hover {
  color: #bbb;
}

.photos-bureauII-prev,
.photos-bureauII-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  user-select: none;
}

.photos-bureauII-prev:hover,
.photos-bureauII-next:hover {
  color: #bbb;
}

.photos-bureauII-prev {
  left: 0;
}

.photos-bureauII-next {
  right: 0;
}
