<div id="modal-pictures" class="modal-pictures">
    <span class="close">&times;</span>
    <div class="modal-pictures-content">
        <img id="modalImage" class="modal-content">
    </div>
    <a class="prev">&#10094;</a>
    <a class="next">&#10095;</a>
</div>